.loading-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.loading-img {
  width: 160px;
  height: auto;
  margin-bottom: 24px;
  border-radius: 16px;
}

.error p {
  margin-bottom: 12px;
}

.retry-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  text-align: center;
  align-self: center;
}